.show-sdt {
    color: #75b73b;
    font-weight: bold;
    background: #fff;
    user-select: text;
    font-weight: bold;
    color: rgb(66, 103, 178);
    white-space: nowrap;
    z-index: 9;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    text-decoration: underline;
    transform: translate(0px, -1px);
    font-size: 13px;
    font-family: segoe ui !important;
    padding: 3px;
}